{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}


{% block extrastyle %}
<style type="text/css">
    body.login {
        background-image: url('/static/image/background_image.jpg'); /* Replace with your image path */
        background-size: cover; /* Adjust as needed */
        background-repeat: no-repeat;
        background-position: center;
        /* You can add more background properties as needed */
    }
    </style>
{% endblock %}


{% block branding %}
<h1 id="site-name">{% trans 'File Manangement System' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}