asgiref==3.9.1
diff-match-patch==20241021
Django==5.2.6
django-cors-headers==4.8.0
django-environ==0.12.0
django-filter==25.1
django-import-export==4.3.9
django-pandas==0.6.7
django-rest-auth==0.9.5
djangorestframework==3.16.1
drf-yasg==1.21.10
inflection==0.5.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.2
pillow==11.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzbar==0.1.9
qrcode==8.2
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0

